body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
nav {
  background-color: #0cf0c6;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 10px;
  margin-bottom: 10px;
}
nav ul li a:hover {
  color: black;
  background-color: white;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
.navegacion h1 a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}
.navegacion h1 a:hover {
  color: black;
}
.navegacion ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navegacion ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.promo {
  margin-top: 20px;
  width: 100%;
  border: 2px solid black;
}
.promo img {
  max-width: 100%;
  height: 80%;
}
@media screen and (min-width: 768px) {
  .principal {
    justify-content: space-between;
  }
  .principal .promo {
    flex: 0 1 calc(50% - 1rem) !important;
    height: auto;
  }
}
.principal {
  display: flex;
  flex-wrap: wrap;
}
.principal .promo {
  flex: 0 1 100%;
}
.principal h2,
h3 {
  flex: 0 1 100%;
}
.principal h2 {
  font-size: 35px;
}
.principal h3 {
  font-size: 30px;
}
.principal .promo {
  background-color: grey;
}
.promo span {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
.promo p {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.pie {
  display: flex;
  justify-content: space-around;
  background-color: #0cf0c6;
  padding: 30px;
  margin-top: 20px;
  flex-direction: column !important;
}
.pie p {
  flex: 0 1 30%;
  color: #0082c8;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
.pie .pie-ul {
  flex: 1;
}
.pie-ul {
  display: flex;
  justify-content: space-between;
}
.pie-ul li {
  flex: 0 1 50%;
  list-style: none;
}
.pie-ul li a {
  text-decoration: none;
  color: #0082c8;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .pie {
    display: flex;
    justify-content: space-around;
    flex-direction: row !important;
    background-color: #0cf0c6;
    padding: 30px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titulo_caja {
    align-self: flex-start;
    flex: 1;
  }
  .titulo_img {
    max-width: 60%;
    flex: 1;
  }
  .titulo_img img{
    width: 700px;
  }
  .contenedor1 {
    display: flex;
  }
}
.titulo_caja{
  justify-content: flex-start;
  width: 70%;
}
.titulo_img img{
  width: 100%;
}
.contenedor1 div,
.titulo div {
  color: white;
  margin: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Oswald", sans-serif;
  font-size: large;
}
.caja1, .caja2 {
  flex: 1;
}
#body-contact{
  background: url(../assets/contacto.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.form2 .contenedor2 .form-header .h-title {
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  color: darkgoldenrod;
  text-align: center;
  padding: 14px 0;

}
.form2 .contenedor2 .form-header .h-title .span2{
  color: white;
}
.form2 .contenedor2{
  background: rgba(0, 0, 0,.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.form2 .contenedor2 .form-label{
  display: block;
  color: white;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  position: relative;
}
.form2 .contenedor2 .form-input, .form-textarea{
  background: rgba(0,0,0,.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #0082c8;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}
.form2 .contenedor2 .form-textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.form2 .contenedor2 .btn-submit {
  width: 100%;
  font-family: "Oswald", sans-serif;
  outline: none;
  background: #0082c8;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
}
.form2 .contenedor2 .btn-submit:hover{
  background: #667db6;
}