:root {
  --fondo-caja: rgba(32, 63, 241, 0.1);
}
body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}
nav {
  background-color: #0cf0c6;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 10px;
  margin-bottom: 10px;
}
nav ul li a:hover {
  color: black;
  background-color: white;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
.navegacion h1 a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}
.navegacion h1 a:hover {
  color: black;
}
.navegacion ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navegacion ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.promo {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.promo img {
  max-width: 100%;
  height: 60%;
}
.promo .contenido {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .principal {
    justify-content: space-around;
  }
  .principal .promo {
    flex: 0 1 calc(50% - 1rem) !important;
    height: auto;
  }
  
  .promo{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  /* .promo img {
    max-width: 100%;
    height: 80%;
  } */
}
.principal {
  display: flex;
  flex-wrap: wrap;
}
.principal .promo {
  flex: 0 1 100%;
}
.principal h2,
h3 {
  flex: 0 1 100%;
}
.principal h2 {
  font-size: 35px;
}
.principal h3 {
  font-size: 25px;
}
.principal .promo {
  background-color:rgba(0, 0, 0, 0.35);
}
.promo .Nombre {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
}
.promo .Precio {
  color: red;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
.promo p {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
  flex-wrap: wrap;
}
.pie {
  display: flex;
  justify-content: space-around;
  background-color: #0cf0c6;
  padding: 30px;
  margin-top: 20px;
  flex-direction: column !important;
}
.pie p {
  flex: 0 1 30%;
  color: #0082c8;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.pie a{
  align-self: center;
}
.pie .pie-ul {
  flex: 1;
}
.pie-ul {
  display: flex;
  justify-content: space-between;
}
.pie-ul li {
  flex: 0 1 50%;
  list-style: none;
}
.pie-ul li a {
  text-decoration: none;
  color: #0082c8;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .pie {
    display: flex;
    justify-content: space-around;
    flex-direction: row !important;
    background-color: #0cf0c6;
    padding: 30px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .titulo {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .titulo .titulo_caja {
    flex: 0 1 calc(60% - 1rem);
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .titulo .titulo_img {
    flex: 1;
  }
  .titulo_img img {
    height: 100% !important;
  }
}
.titulo {
  flex-direction: column;
}
.titulo .titulo_caja {
  width: 100%;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--fondo-caja);
}
.titulo .titulo_img {
  flex: 1;
  margin: 10px;
  border: 1px solid white;
  background-color: var(--fondo-caja);
}
.titulo_img img {
  width: 100%;
  height: 100 !important;
}
.contenedor1 {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  background-color: var(--fondo-caja);
}
#body-contact {
  background: url(../assets/contacto.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.form2 .contenedor2 .form-header .h-title {
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  color: darkgoldenrod;
  text-align: center;
  padding: 14px 0;
}
.form2 .contenedor2 .form-header .h-title .span2 {
  color: white;
}
.form2 .contenedor2 {
  background: rgba(0, 0, 0, 0.6);
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.form2 .contenedor2 .form-label {
  display: block;
  color: white;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.form2 .contenedor2 .form-input,
.form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #0082c8;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}
.form2 .contenedor2 .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.form2 .contenedor2 .btn-submit {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  outline: none;
  background: #0082c8;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
}
.form2 .contenedor2 .btn-submit:hover {
  background: #667db6;
}
.principal2 h2 {
  flex: 0 1 100%;
  color: white;
  font-size: 40px;
}
.card img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.card img:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 480px) {
  .principal2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .principal2 .card {
    flex: 0 1 calc(50% - 1rem);
    background-color: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 100%;
    height: 215px;
  }
}
@media screen and (min-width: 768px) {
  .principal2 .card {
    flex: 0 1 calc(33% - 1rem);
  }
  img {
    width: 100%;
    height: 350px;
  }
}
.card {
  margin-bottom: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}
.card h3 {
  font-size: 30px;
}
.card p {
  font-size: 20px;
}
.boton{
  width: 100%;
  font-family: 'Oswald', sans-serif;
  outline: none;
  background: #0082c8;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
}
.pie-ul {
  font-family: 'Oswald', sans-serif;
}
.boton{
  padding: 15px 10px;
  display: block;
  margin-bottom: 10px !important;
  background-color: black;
  text-decoration: none;
}
.boton:hover{
  background-color: red;
  text-transform: uppercase;
}
#promociones{
  color: white;
  font-size: 2rem;
  text-shadow: 6px 5px 3px  rgb(7, 238, 123);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
i{
  font-size: 30px;
  color: black;
}